body{
	
}
.kleur1 {
background-color: #414447;	
}
.kleur2 {
background-color: #4E4C4D;	
}
.kleur3 {
background-color: #2E737A;	
}
.kleur4 {
background-color: #0087B7;	
}
.kleur5 {
background-color: #02B9D9;
}
